.title {
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 3px solid black;
}

.search-form input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 3px;
}

.search-form input[type='submit'] {
    cursor: pointer;
    transition: 0.1s;
}

.search-form input[type='submit']:hover {
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    height: fit-content;
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #e7eaf6;
}

.actions {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action {
    padding: 5px;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    transition: 0.2s;
    color: darkviolet;
    background-color: thistle;
}

.action:hover {
    color: darkmagenta;
}

.no-posts {
    font-size: 1.5rem;
    text-align: center;
    color: darkblue;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.2rem;
    }

    .search-form input {
        padding: 5px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .card,
    .action {
        font-size: 0.9rem;
    }

    .no-posts {
        font-size: 1.2rem;
    }
}