.sparks-container {
    width: min(75rem, 100%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
    align-items: stretch;
    gap: 2rem;
}

.spark-card {
    max-width: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    box-shadow: 
        inset -2px 2px #fff,
        -10px 10px 40px rgba(0, 0, 0, 0.25);
    --grad: #ff6b6b, #4d9fef;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
}
.spark-card::after {
    content: "";
    height: 2px;
    background-image: linear-gradient(90deg, var(--grad));
}

.spark-user {
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spark-date {
    font-size: 1.2rem;
    color: #888;
}
.spark-detail {width: fit-content;}
.spark-content {
    line-height: 1.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}