{% extends 'base.html' %}

{% load static %}

{% block title %} Edit Account {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/edit.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1>Edit Account</h1>
    
    <br><br>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if user.image %}
        <p>
            Do you wanna delete your profile picture?
            <input type="checkbox" name="delete_profile_picture">
        </p>
        {% endif %}
        <input type="submit" value="Edit Account">
    </form>
</div>

{% endblock %}