{% extends 'base.html' %}

{% load static %}

{% block title %} Following | {{ user.username }} {% endblock %}

{% block extra_tags %}
<link rel="stylesheet" href="{% static 'accounts/css/following_list.css' %}">
{% endblock %}

{% block content %}

<form action="" method="get" class="search-form">
    <input type="text" name="search" placeholder="Search in following..." value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}" required class="form-control">
    <input type="submit" value="Search" class="btn btn-primary">
    {% if request.GET.search %}
    <a href="{{ user.get_following_list_url }}" class="btn btn-danger">Clear</a>
    {% endif %}
</form>

{% with following_list=page_obj %}
{% if following_list %}
    <div class="following-container">
        {% for following in following_list %}
            <div class="following-card">
                <div class="following-name-family">{{ following.first_name }} {{ following.last_name }}</div>
                <div class="following-username">@{{ following.username }}</div>
                <div class="following-email">{{ following.email }}</div>
                <a href="{{ following.get_profile_url }}" class="following-view-profile text-info">View Profile</a>
            </div>
        {% endfor %}
    </div>

    {% include 'includes/pagination.html' %}
{% else %}
    <h3 class="text-danger bg-light text-center p-1 rounded container">There are no following</h3>
{% endif %}
{% endwith %}

{% endblock %}