{% extends 'base.html' %}

{% load static %}

{% block title %} Following {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/following.css' %}">
{% endblock %}

{% block content %}

{% if following_list %}
<div class="container">
    {% for following in following_list %}
    <a href="{{ following.to_user.get_profile_url }}" class="card">
        {{ following.to_user.username }}
    </a>
    {% endfor %}
</div>
{% else %}
<div class="no-following">There are no following at the moment</div>
{% endif %}

{% endblock %}