{% extends 'base.html' %}

{% load static %}

{% block title %} Followers {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/followers.css' %}">
{% endblock %}

{% block content %}

{% if followers_list %}
<div class="container">
    {% for follower in followers_list %}
    <a href="{{ follower.from_user.get_profile_url }}" class="card">
        {{ follower.from_user.username }}
    </a>
    {% endfor %}
</div>
{% else %}
<div class="no-followers">There are no followers at the moment</div>
{% endif %}

{% endblock %}