{% extends 'base.html' %}

{% load static %}

{% block title %} Profile {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="info">
        <img src="{% static 'accounts/images/default-pic.png' %}" alt="Profile Picture">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <h3>@{{ user.username }}</h3>
        <h3>{{ user.email }}</h3>
        {% if user.bio %}
        <h3>{{ user.bio }}</h3>
        {% endif %}
    </div>
    <div class="actions">
        {% if request.user == user %}
        <a href="{{ user.delete_account }}" class="action">Delete Account</a>
        <a href="{{ user.edit_account }}" class="action">Edit Account</a>
        <a href="{{ user.signout_account }}" class="action">Sign out</a>
        <a href="{{ user.new_post }}" class="action">Add New Post</a>
        {% endif %}
        {% if request.user != user and is_followed == False %}
        <a href="{{ user.follow_account }}" class="action">Follow</a>
        {% elif request.user != user and is_followed == True %}
        <a href="{{ user.unfollow_account }}" class="action">Unfollow</a>
        {% endif %}
        <a href="{{ user.posts_page }}" class="action">Posts {{ user.posts_count }}</a>
        {% if request.user == user %}
        <a href="{{ user.saved_posts_page }}" class="action">Saved Posts {{ user.saved_posts_count }}</a>
        <a href="{{ user.comments_page }}" class="action">Comments {{ user.comments_count }}</a>
        <a href="{{ user.liked_posts_page }}" class="action">Liked Posts {{ user.liked_posts_count }}</a>
        {% endif %}
        <a href="{{ user.followers_page }}" class="action">Followers {{ user.followers_count }}</a>
        <a href="{{ user.following_page }}" class="action">Following {{ user.following_count }}</a>
    </div>
</div>

{% endblock %}