{% extends 'base.html' %}

{% load static %}

{% block title %} Saved Posts {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/saved-posts.css' %}">
{% endblock %}

{% block content %}

{% if posts %}
<div class="container">
    {% for post in page_obj %}
    <div class="card">
        <p>{{ post.post.description }}</p>
        <br><hr><br>
        <div class="actions">
            <a href="{{ post.post.get_absolute_url }}" class="action">Read More</a>
            <a href="{{ post.post.post_unsave }}" class="action">Remove</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'includes/pagination.html' %}

{% else %}
<div class="no-posts">There are no saved posts at the moment</div>
{% endif %}

{% endblock %}