{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block extra_headers %}{% endblock %}
</head>
<body>

    {% include 'includes/header.html' %}
    {% include 'includes/messages.html' %}

    <div class="container mt-4 mb-4">
        {% block content %}{% endblock %}
    </div>

    {% block extra_scripts %}{% endblock %}
    
</body>
</html>