{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- home/static/css/style.css [base style] -->
    {% block css %}{% endblock %}
</head>
<body>
    
    {% include 'includes/header.html' %}
    {% include 'includes/messages.html' %}
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}"></script> <!-- home/static/js/script.js [base script] -->

</body>
</html>