body {background-color: #f8f8f8;}
a:hover {text-decoration: none;}

header {
    margin-bottom: 2rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-bottom: 2px solid black;
    box-shadow: 0 8px 12px gray;
}
header a {
    font-size: 1.1rem;
    transition: 0.1s;
}

.message {
    display: flex;
    text-align: center;
}

.search-form {
    width: 80%;
    display: flex;
    gap: 5px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    header a {
        width: fit-content;
        margin: auto;
        padding-bottom: 2px;
        border-bottom: 2px solid gray;
        font-size: 0.9rem;
    }

    .search-form {width: 100%;}
    .search-form input[type='text'],
    .search-form input[type='submit'] {
        font-size: 0.9rem;
    }
}