{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Social Network Features</h2>
    <h6 class="text-center mb-4">
        <span class="text-danger">Developed</span> by <a href="https://github.com/this-is-armin">Armin Emami</a>
        <br>
        <span class="text-danger">Repository</span>: <a href="https://github.com/this-is-armin/django-social-network">here</a>
        <br>
        <span class="text-danger">Languages</span>: Python, HTML, CSS, JS
        <br>
        <span class="text-danger">Frameworks</span>: Django, Bootstrap
    </h6>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Category</th>
                <th>Features</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="4">Authentication System</td>
                <td>Sign-Up</td>
            </tr>
            <tr>
                <td>Sign-In</td>
            </tr>
            <tr>
                <td>Sign-Out</td>
            </tr>
        </tbody>
            <tr>
                <td rowspan="6">Account Section</td>
                <td>User Profile</td>
            </tr>
            <tr>
                <td>Update Information</td>
            </tr>
            <tr>
                <td>Change Password</td>
            </tr>
            <tr>
                <td>Follow & Unfollow</td>
            </tr>
            <tr>
                <td>Page to Find Users</td>
            </tr>
            <tr>
                <td>Page to Add Your (Links, Images, Musics, Story, Post)</td>
            </tr>
            <tr>
                <td rowspan="7">Posts Section</td>
                <td>Explore</td>
            </tr>
            <tr>
                <td>Post-Create</td>
            </tr>
            <tr>
                <td>Post-Detail</td>
            </tr>
            <tr>
                <td>Post-Update</td>
            </tr>
            <tr>
                <td>Post-Delete</td>
            </tr>
            <tr>
                <td>Post-Like</td>
            </tr>
            <tr>
                <td>Adding Comments</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
