{% extends 'base.html' %}

{% block title %} Notifications {% endblock %}

{% block content %}

{% with notifications=page_obj %}
    {% if notifications %}
        <div class="mt-2 mb-5">
            {% if can_read_all %}
            <a href="{% url 'notifications:read_all' %}" class="btn btn-primary">Mark all as Read</a>
            {% endif %}
            <a href="{% url 'notifications:delete_all' %}" class="btn btn-danger">Delete All</a>
        </div>
        {% for notif in notifications %}
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    {{ notif.created_at|timesince }} ago
                </div>
                <div class="card-body">
                    {% if notif.notification_type == 'follow' and notif.relation %}
                        <a href="{{ notif.from_user.get_profile_url }}">{{ notif.from_user }}</a> followed you.
                    {% elif notif.notification_type == 'post' and notif.post %}
                        <a href="{{ notif.from_user.get_profile_url }}">{{ notif.from_user }}</a> created a new <a href="{{ notif.post.get_absolute_url }}">post</a>.
                    {% elif notif.notification_type == 'comment' and notif.comment %}
                        <a href="{{ notif.from_user.get_profile_url }}">{{ notif.from_user }}</a> commented on your <a href="{{ notif.comment.post.get_absolute_url }}">post</a>.
                    {% elif notif.notification_type == 'like' and notif.like %}
                        <a href="{{ notif.from_user.get_profile_url }}">{{ notif.from_user }}</a> liked your <a href="{{ notif.post.get_absolute_url }}">post</a>.
                    {% endif %}
                </div>
                <div class="p-1">
                    {% if not notif.is_read %}
                    <a href="{{ notif.get_read_url }}" class="btn btn-primary">Mark as Read</a>
                    {% endif %}
                    <a href="{{ notif.get_delete_url }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
        {% include 'includes/pagination.html' %}
    {% else %}
    <div class="text-center p-3">
        <strong>There are no notifications yet.</strong>
    </div>
    {% endif %}
{% endwith %}

{% endblock %}