form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='submit'] {font-size: 1.5rem;}

.error {
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    form {width: 100%;}
    form input[type='text'],
    form input[type='email'],
    form input[type='password'],
    form input[type='submit'] {font-size: 1rem;}

    .error {font-size: 1rem;}
}